/* Fonts */

@font-face {
  font-family: "Manufacturing Consent";
  src:
    url("../fonts/manufacturingconsent.woff2") format("woff2"),
    url("../fonts/manufacturingconsent.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Georgia";
  src:
    url("../fonts/georgia.woff2") format("woff2"),
    url("../fonts/georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMono.woff2");
  font-weight: normal;
  font-style: normal;
}

/* Page */

body {
  background-color: black;
}

a {
  color: cyan
}
a:visited{
  color: hotpink;
}

/* Top Bar */
header {
  margin: 0px auto 0px auto;
  align-content: center;
  display: flex;
  max-width: 800px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(40,40,40);
  line-height: 1.0;
}

header span {
  padding: 8px;
  font-size: 20px;
  font-family: "JetBrainsMono", sans-serif;
}

header span.name {
  font-weight: bold;
  color: black;
  background-color: hotpink;
}

header span + span {
  margin-left: .25rem; /* add spacing between right-side items */
}

/* Page Content */

div.page-content {
  margin: 30px auto 30px auto;
  max-width: 800px;

  line-height: 1.5;
  font-size: 20px;
  color: white;
  font-family: "Georgia", serif;
}

ul { list-style-type: square; }
ol { list-style-type: upper-roman; }

h1, h2, h3, h4, h5, h6 {
  color: yellow;
  font-family: "Manufacturing Consent", system-ui;
  font-style: normal;
  font-weight: normal;
  line-height: 1.0;
  margin: 10px auto;
}
h1 { font-size: 60px; }
h2 { font-size: 50px; }
h3 { font-size: 40px; }
h4 { font-size: 30px; }
h5 { font-size: 25px; }
h6 { font-size: 20px; }

img {
  margin: 10px 10px;
  max-width: calc(100% - 20px);
}

div.codehilite {
  overflow: scroll;
  margin: 10px 10px;
  max-width: calc(100% - 20px);
  
}

div.codehilite * {
  font-family: "JetBrainsMono", sans-serif;
  font-size: 20px;
}

/* Entry Listing */
div.post-item {
    display: table;
    width: 100%;
}
a.post-title span {
    float: left;
}
span.post-date i {
    float: right;
}
